        .hidden {
            display: none;
        }

        *::before,
        *::after {
            box-sizing: border-box;
        }

        html {
            scroll-behavior: smooth;
            scrollbar-width: thin
        }

        body {
            font-family: "Gilroy", sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            color: #0c0c0c;
            background-color: #FFFFFF;
            display: flex;
            flex-direction: column;
            min-width: 100vw;
            min-height: 100vh;
            margin: 0;
        }

        main {
            flex-grow: 1;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

        }

        a {
            text-decoration: none;
            color: inherit;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p {
            margin: 0;
        }

        img {
            display: block;
            max-width: 100%;
            height: auto;
        }

        button {
            cursor: pointer;
            font-family: inherit;
        }

        .visually-hidden {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
            white-space: nowrap;
            clip-path: inset(100%);
            clip: rect(0, 0, 0, 0);
            overflow: hidden;
        }

        .container {
            min-width: 320px;
            max-width: 375px;
            margin: 0 auto;
            padding: 0 20px;
        }

        @media only screen and (min-width: 768px) {
            .container {
                max-width: 768px;
                padding: 0 32px;
            }
        }

        @media only screen and (min-width: 1280px) {
            .container {
                max-width: 1280px;
                padding: 0 65px;
            }
        }
       
/* Header ========================================================================================== */


.header {
    border-bottom: 1px solid #0c0c0c1a;
    min-width: 100vw;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header-logo {
    letter-spacing: -0.02em;
    padding: 32px 0;
}
@media screen and (min-width: 768px) {
.header-logo {
    padding: 34px 0;
    font-size: 20px;
}
}

@media screen and (min-width: 1280px) {
.header-logo {
    padding: 32px 0;
}
}

.nav-list {
    display: none;
}

@media screen and (min-width: 1280px) {
.nav-list {
    display: flex;
    margin: 0 auto;
    gap: 40px;
}
}

.nav-item {
    padding: 28px 0;
    font-size: 14px;
    line-height: 1.28;
    text-align: center;
}

.active-link {
    position: relative;
}

.active-link::after {
    content: '';
    background-color: #1f3cd4;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: block;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    margin-top: 2px;
}

.open-menu {
    padding: 0;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
}

@media screen and (min-width: 768px) {
.open-menu {
    width: 40px;
    height: 40px;
}
}
 
@media screen and (min-width: 1280px) {
.open-menu {
    display: none;
}
}

.header-burger-icon {
    display: block;
    width: 25.5px;
    height: 9.92px;
    stroke: #0c0c0c;
}

@media screen and (min-width: 768px) {
.header-burger-icon {
    width: 30px;
    height: 11.67px;
}
}

.nav-link {
    padding: 5px;
}

.nav-icon-list {
    display: none;
}

@media screen and (min-width: 1280px) {
.nav-icon-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
}

.nav-icon-item.nav-icon-link {
    border: 1px solid rgba(12, 12, 12, 0.1);
    border-radius: 10px;
    background-color: transparent;
    padding: 8px;
    width: 36px;
    height: 36px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-icon {
    fill: #0c0c0c;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-icon:hover,
.nav-icon:focus {
    border-color: #3350e91a;
    fill: #3350e9;
}

.nav-link.current:after {
    content: "";
    position: absolute;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #3350e9;
    left: 50%;
    bottom: 30px;
    transform: translate(-50%);
}




/* mobile.menu ========================================================= */

.mobile-menu-container {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    flex-direction: column;
    align-items: stretch;
    width: 200px;
    height: 100vh;
    padding: 20px 20px 40px;
    background-image: linear-gradient(to bottom,
            rgba(12, 12, 12, 0.92),
            rgba(12, 12, 12, 0.92)), url(/images/drop-menu-mob.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform: translateX(100%);
    transition: transform 250ms ease-out;
}

 @media (min-device-pixel-ratio: 2),
 (min-resolution: 192dpi),
 (min-resolution: 2dppx) {
    .mobile-menu-container {
     background-image: linear-gradient(to bottom,
         rgba(12, 12, 12, 0.92),
         rgba(12, 12, 12, 0.92)), 
     url(/images/drop-menu-mob@2x.webp);
 }
}

@media screen and (min-width: 768px) {
    .mobile-menu-container {
        width: 330px;
        padding: 26px 32px 50px;
        background-image: linear-gradient(to bottom,
                    rgba(12, 12, 12, 0.92),
                    rgba(12, 12, 12, 0.92)), url(/images/drop-menu-tablet.webp);
    }
}

 @media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .mobile-menu-container {
        background-image: linear-gradient(to bottom,
                rgba(12, 12, 12, 0.92),
                rgba(12, 12, 12, 0.92)),
            url(/images/drop-menu-tablet@2x.webp);
    }
 }

@media screen and (min-width: 1280px) {
.mobile-menu-container {  
        display: none;
  }
  }

.menu-close {
    align-self: flex-end;
    width: 34px;
    height: 34px;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;    
}

@media screen and (min-width: 768px) {
.menu-close {
        width: 40px;
        height: 40px;
    }
}



.menu-close-icon {
    display: block;
    width: 17px;
    height: 17px;
    stroke: #fbfbfb;
}
 
@media screen and (min-width: 768px) {
.menu-close-icon {
    width: 20px;
    height: 20px;
    stroke-width: 3px;
    }
}

.menu-nav-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.menu-nav-link-flex {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.menu-nav-link {
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    white-space: nowrap;
    color: #fbfbfb;
}

.menu-social-links-list {
    display: flex;
    align-self: center;
    gap: 10px;
}

.menu-socials-links-item .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    border: 1px solid #fbfbfb1a;
    background-color: transparent;
    border-radius: 10px;
}

@media screen and (min-width: 768px) {
.menu-socials-links-item .link {
    width: 36px;
    height: 36px;
}
}

.menu-social-icon {
    fill: #fbfbfb;
    opacity: 0.8;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-social-icon:hover,
menu-social-icon:focus {
        opacity: 3;
    }

/* Hero ================================================================== */

.hero {
    padding-top: 60px;
    padding-bottom: 30px;
}

@media screen and (min-width: 768px) {
.hero {
    padding-top: 80px;
    padding-bottom: 40px;
}
}

@media screen and (min-width: 1280px) {
.hero {
    padding-bottom: 50px;
}
}

.hero-wrap {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

@media screen and (min-width: 768px) {
.hero-wrap {
    flex-direction: row;
    gap: 11px;
    margin-bottom: 40px;
}
}

@media screen and (min-width: 1280px) {
    .hero-wrap {
        gap: 407px;
    }
}
@media screen and (min-width: 768px) {
    .hero-left {
        max-width: 572px;
    }
}

@media screen and (min-width: 768px) {
.hero-left {
    max-width: 597px;
}
}

.hero-right {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
}

@media screen and (min-width: 768px) {
    .hero-right {
        flex-direction: column;
        margin: 0;
    }
}

.hero-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 0.95;
    letter-spacing: -0.02em;
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
.hero-title {
    font-size: 70px;
    line-height: 0.85;
}
}
@media screen and (min-width: 1280px) {
.hero-title {
    font-size: 72px;
    line-height: 0.875;
}
}

.hero-span {
    color: #3350e9;
}

.hero-txt {
    line-height: 1.28;
    letter-spacing: -0.02em;
    color: #0c0c0cb3;
}

@media screen and (min-width: 768px) {
    .hero-txt {
        max-width: 480px;
    }
}

.hero-list {
    display: flex;
    flex-direction: row;
}

.hero-scroll {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 20px;
    line-height: 1;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

@media screen and (min-width: 768px) {
.hero-scroll {
    font-size: 19px;
}
}

/* About ============================================================================ */

.about {
    padding: 30px 0;
}

@media screen and (min-width: 768px) {
    .about {
        padding: 40px 0;
    }
}

@media screen and (min-width: 1280px) {
    .about {
        padding: 50px 0;
    }
}

.about-wrap {
    display: flex;
    gap: 40px;
}

.about-box {
    padding: 80px 60px;
    background-color: #f3f3f3;
    border-radius: 50px;
}

.about-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 0.91667;
    letter-spacing: -0.02em;
    margin-bottom: 40px;
}

.about-text-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
}

.about-txt {
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: #0c0c0cb3;
}

.about-img {
    border-radius: 50px;
}

.about-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    text-align: center;
    color: #fbfbfb;
    padding: 16px 38px;
    border-radius: 16px;
    background-color: #3350e9;
}

.about-link:hover {
    background-color: #1f3cd4;
    transition: background-color .3s cubic-bezier(.165, .84, .44, 1);
}












