



/* catalog ============================================================== */


.catalog {
    padding: 50px 0;
}

.catalog-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 0.91;
    letter-spacing: -0.02em;
    margin-bottom: 40px;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px 23px;
}

.catalog-item {
    max-width: 368px;
    width: calc((100% - 46px) / 3);
    border: 1px solid rgba(12, 12, 12, 0.05);
    border-radius: 30px;
    background-color: #f3f3f3;
}

.catalog-img-wrap {
    margin-bottom: 10px;
    padding-top: 24px;
}

.catalog-img {
    margin: 0 auto;
}

.catalog-link {}

.catalog-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    letter-spacing: -0.02em;
    padding-left: 32px;
    margin-bottom: 8px;
}

.catalog-txt {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    color: #0c0c0c80;
    padding-left: 32px;
    margin-bottom: 24px;
}

/* Advert ========================================== */

.advert {
    padding: 50px 0;
}

.advert-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 140px;
    padding: 83px 80px;
    background-color: #0c0c0c;
    background-image: url(../images/adv@1x.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1150px;
    border-radius: 30px;
}

.advert-title {
    max-width: 690px;
    font-weight: 600;
    font-size: 48px;
    line-height: 0.91;
    letter-spacing: -0.02em;
    color: #fbfbfb;
}

.advert-span {
    color: #fbfbfb80;
}

.advert-link {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 160px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    color: #fbfbfb;
    padding: 14px 40px;
    border: 1px solid rgba(251, 251, 251, 0.15);
    border-radius: 16px;
    transition: color .3s cubic-bezier(.165, .84, .44, 1), background-color .3s cubic-bezier(.165, .84, .44, 1);
}

.advert-link:hover {
    background-color: #fbfbfb;
    color: #0c0c0c;
}

/* sale ======================================================================== */

.sale {
    padding: 50px 0;
}

.sale-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 0.91;
    letter-spacing: -0.02em;
    margin-bottom: 40px;
}

.sale-wrap {
    display: flex;
    gap: 40px;
}

.sale-left {
    display: flex;
    gap: 20px;
    max-width: 580px;
}

.sale-wrap-img {
    padding: 80px 50px;
    border: 1px solid rgba(12, 12, 12, 0.05);
    border-radius: 50px;
    background-color: #f3f3f3;
}

.sale-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.sale-item {
    padding: 16px 18px;
    background-color: #f3f3f3;
    border: 1px solid rgba(12, 12, 12, 0.05);
    border-radius: 20px;
}

.sale-right {
    max-width: 530px;
    border-radius: 50px;
    background-color: #3350e9;
    color: #fbfbfb;
    padding: 60px;
}

.sale-subtitle {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.125;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    margin-bottom: 10px;
}

.sale-txt {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    color: #fbfbfb80;
    margin-bottom: 20px;
}

.sale-price {
    display: flex;
    gap: 9px;
    align-items: center;
    margin-bottom: 30px;
}

.sale-price-txt {
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
    letter-spacing: -0.02em;
    padding: 8px 12px;
    background-color: #fbfbfb1a;
    border-radius: 8px;
}

.sale-price-old-txt {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: -0.02em;
    text-decoration: line-through;
    color: #fbfbfb80;
}

.sale-main-txt {
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: #fbfbfbb3;
    margin-bottom: 40px;
}

.sale-descr {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.sale-descr-txt {
    border: 1px solid rgba(251, 251, 251, 0.2);
    border-radius: 8px;
    padding: 8px 12px;
}

/*  review ============================================================================ */

.review {
    padding: 50px 0;
}

.review-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 0.91;
    letter-spacing: -0.02em;
    margin-bottom: 40px;
}

.review-list {
    display: flex;
    text-align: center;
    gap: 20px;
}

.review-item {
    background-color: #f3f3f3;
    border-radius: 30px;
    padding: 32px 36px;
}

.review-img {
    margin: 0 auto;
    margin-bottom: 24px;
}

.review-subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: -0.02em;
    margin-bottom: 8px;
}

.review-txt {
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: #0c0c0c66;
}

/* contact us ======================================================================= */

.contact-us {
    padding: 50px 0;
}

.contact-us-title {
    font-family: "Gilroy", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 0.91;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
    .contact-us-title {
        font-size: 48px;
    }
}

.contact-us-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (min-width: 768px) {
    .contact-us-wrap {
        gap: 40px;
    }
}

@media screen and (min-width: 1280px) {
    .contact-us-wrap {
        flex-direction: row;
    }
}

.contact-us-box {
    padding: 48px 28px;
    background-color: #f3f3f3;
    border-radius: 30px;
}

@media screen and (min-width: 768px) {
    .contact-us-box {
        padding: 50px 122px;
        border-radius: 50px;
    }
}

@media screen and (min-width: 1280px) {
    .contact-us-box {
        padding: 50px 60px;
    }
}

.contact-us-txt {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: #0c0c0cb3;
    margin-bottom: 28px;
}

@media screen and (min-width: 768px) {
    .contact-us-txt {
        font-size: 16px;
        max-width: 488px;
        margin-bottom: 32px;
    }
}

.contact-us-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 18px;
}

.contact-us-label {
    align-self: flex-start;
    transition: color 550ms ease-in-out;
}

.contact-us-input:focus {
    outline: #3350e9;
    border-color: #3350e9;
}


.contact-us-input {
    display: block;
    width: 205px;
    padding: 12px 14px;
    border-radius: 12px;
    background-color: transparent;
    border: 1px solid rgba(12, 12, 12, 0.15);
}

@media screen and (min-width: 768px) {
    .contact-us-input {
        width: 430px;
        padding: 16px 18px;
    }
}

.contacts-us-input::placeholder {
    font-family: "Gilroy", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.25;
}

@media screen and (min-width: 768px) {
    .contacts-us-input::placeholder {
        font-size: 16px;
    }
}


.contact-us-btn {
    position: relative;
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    text-align: center;
    color: #fbfbfb;
    padding: 12px 50px;
    border-radius: 16px;
    border: none;
    background-color: #3350e9;
    align-self: flex-start;
    cursor: pointer;
    margin-top: 10 px;
}

@media screen and (min-width: 768px) {
    .contact-us-btn {
        padding: 17px 63px;
        margin-top: 18px;
    }
}

.contact-us-img {
    margin: 0 auto;
}

/*  footer ================================================================= */

.footer {
    padding-top: 50px;
}

.footer-wrap {
    max-width: 1216px;
    background-color: #0c0c0c;
    border-radius: 30px;
    padding: 40px 40px 28px 40px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 63px;
}

.footer-left {
    display: flex;
    flex-direction: column;
}

.footer-logo {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    margin-bottom: 20px;
}

.nav-icon-list {}

.nav-icon-item {}

.nav-icon-link {}

.nav-icon {}

.footer-center {}

.footer-txt {
    max-width: 533px;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.14286;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
}

.footer-right {}

.address {}

.address-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    text-transform: uppercase;
    text-align: center;
    color: #fbfbfb;
    border: 1px solid rgba(251, 251, 251, 0.2);
    border-radius: 16px;
    padding: 15px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 63px;
    padding-bottom: 26px;
    border-bottom: 1px solid #fbfbfb1a;
}

.footer-bottom-list {
    display: flex;
    gap: 40px;
}

.footer-bottom-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    text-align: center;
    color: #fbfbfb;
}

.footer-bottom-link {}

.map {
    max-width: 162px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    color: #fbfbfb;
}

.footer-map-txt {}

.footer-end {
    padding-top: 28px;
    display: flex;
    justify-content: space-between;

}

.footer-end-txt {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    color: #fbfbfb80;
}

.footer-end-list {
    display: flex;
    gap: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    text-align: right;
    color: rgba(251, 251, 251, 0.5);
}

.footer-end-item {}

.footer-end-link {}